.achievement-ul {

  font-size: large;
  color: white;

  text-align: left;
  
  background: #595959;
  opacity: 0.9;
  
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  
	text-align: left;
	list-style-type: disc !important;
}

div {
  display: hidden;
}

a:hover+div {
  display: block;
}
