@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.CV {
  text-align: center;
  /*background: #C0C0C0;*/
  padding-bottom: 200px;
  height: 100%;
  min-height: 100%;
  /*min-height: 2300px;*/
  /*position: relative;*/

  font-family: 'Varela Round';
  font-weight: bold;
}

#cloud-container{
    position: absolute;
    height: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1; 
}

.CV-header {
  background-color: #222;
  height: 200px;
  padding: 5px;
  color: white;

  z-index: 10000;
  position: relative;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.CV-body {
  margin-right: 275px;
  margin-left: 275px;
  margin-top: 200px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px; 
}

.CV-title {
  font-size: 3em;
  margin: 15px;
  font-weight: bold;
}

.CV-subtitle {
  font-size: 1.5em;
  margin: 10px;
}

.CV-intro {
  font-size: large;
  color: white;
}

body {
  height: 100%;
  background: url('./assets/wallpaper.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.CV-ul {
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}


.CV-li {
    float: left;
    flex: 1;
}

.CV-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.CV-li a:active {
    background-color: #4CAF50;
}

.CV-li a:hover:not(.active) {
    background-color: #111;
}

.CV-red {
  background: red;
  opacity: 0.7;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.CV-starting {
  background: #595959;
  opacity: 0.9;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.SlideIn-appear {
  transform: translateX(30px);
  opacity: 0;
}
.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);;
  transition: all 0.6s linear;
}
.SlideIn-enter {
    opacity: 0;
    transform: translateX(30px);
}
.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s linear 0.4s;
}
.SlideIn-leave {
    opacity: 1.0;
    transform: translateX(0);
}
.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-30px);
    transition: all 0.2s linear;
}
